<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.dao.employeeInfMapper.EmployeeInfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hao.entity.EmployeeInf">
        <id column="ID" property="id" />
        <result column="DEPT_ID" property="deptId" />
        <result column="JOB_ID" property="jobId" />
        <result column="NAME" property="name" />
        <result column="CARD_ID" property="cardId" />
        <result column="ADDRESS" property="address" />
        <result column="POST_CODE" property="postCode" />
        <result column="TEL" property="tel" />
        <result column="PHONE" property="phone" />
        <result column="QQ_NUM" property="qqNum" />
        <result column="EMAIL" property="email" />
        <result column="SEX" property="sex" />
        <result column="PARTY" property="party" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="RACE" property="race" />
        <result column="EDUCATION" property="education" />
        <result column="SPECIALITY" property="speciality" />
        <result column="HOBBY" property="hobby" />
        <result column="REMARK" property="remark" />
        <result column="CREATE_DATE" property="createDate" />

        <association property="deptInf"  column="DEPT_ID" select="getDept"></association>
        <association property="jobInf" column="JOB_ID" select="getJob"></association>
    </resultMap>

    <select id="getDept" resultType="com.hao.entity.DeptInf">
        select id,name,remark from dept_inf
        where id = #{id}
    </select>

    <select id="getJob" resultType="com.hao.entity.JobInf">
        select id,name,remark from job_inf
        where id =  #{id}
    </select>

    <select id="selectEmployeeInf" resultMap="BaseResultMap">
        select e.NAME,CARD_ID,ADDRESS,POST_CODE,TEL,PHONE,QQ_NUM,EMAIL,SEX,PARTY,BIRTHDAY,RACE,EDUCATION,SPECIALITY,HOBBY,
               e.REMARK,e.CREATE_DATE,d.NAME,j.NAME,d.ID,j.ID,DEPT_ID,JOB_ID
        from employee_inf e,dept_inf d,job_inf j
        where e.DEPT_ID=d.ID
          and e.JOB_ID=j.ID
    </select>

    <insert id="addEmployeeInf">
        insert into employee_inf(SEX,NAME,PHONE,
                                 CARD_ID,EDUCATION,EMAIL,
                                 TEL,PARTY,QQ_NUM,ADDRESS,
                                 POST_CODE,BIRTHDAY,RACE,
                                 SPECIALITY,HOBBY,REMARK,DEPT_ID,JOB_ID)
            values (#{emp.sex},#{emp.name}, #{emp.phone},
                    #{emp.cardId},#{emp.education}, #{emp.email},#{emp.tel},
                    #{emp.party},#{emp.qqNum},#{emp.address}, #{emp.postCode},
                    #{emp.birthday},#{emp.race},#{emp.speciality},#{emp.hobby},
                    #{emp.remark},#{emp.deptId},#{emp.jobId})
    </insert>

    <delete id="deleteEmployeeInf">
        delete from employee_inf where id = #{id}
    </delete>


    <update id="updateEmployeeInf">
        update employee_inf e
            set SEX=#{sex},e.NAME =#{name},PHONE=#{phone},CARD_ID=#{cardId},EDUCATION=#{education},EMAIL=#{email},TEL=#{tel},
                PARTY= #{party},QQ_NUM=#{qqNum},ADDRESS=#{address},POST_CODE=#{postCode},BIRTHDAY=#{birthday},RACE=#{race},
                SPECIALITY=#{speciality},HOBBY=#{hobby},REMARK=#{remark},DEPT_ID=#{deptId},JOB_ID=#{jobId}
        where id=#{id}
    </update>

    <select id="selectEmployeeInfByCondition" resultMap="BaseResultMap">
        select *
        from employee_inf
        <where>
            <if test="emp.sex!=null">sex=#{emp.sex}</if>
            <if test="emp.phone!=null">and phone=#{emp.phone}</if>
            <if test="emp.cardId!=null">and CARD_ID=#{emp.cardId}</if>
            <if test="emp.jobId!=null">and JOB_ID =#{emp.jobId}</if>
            <if test="emp.deptId!=null">and deptId=#{emp.deptId}</if>
            <if test="emp.name!=null">and name =#{emp.name}</if>
        </where>
    </select>

    <select id="getCount" resultType="Integer">
        select count(id) from employee_inf
        <where>
            <if test="emp.sex!=null">sex=#{emp.sex}</if>
            <if test="emp.phone!=null">and phone=#{emp.phone}</if>
            <if test="emp.cardId!=null">and CARD_ID=#{emp.cardId}</if>
            <if test="emp.jobId!=null">and JOB_ID =#{emp.jobId}</if>
            <if test="emp.deptId!=null">and deptId=#{emp.deptId}</if>
            <if test="emp.name!=null">and name =#{emp.name}</if>
        </where>
    </select>
</mapper>
