<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.dao.facekeyInfMapper.FacekeyInfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hao.entity.FacekeyInf">
        <id column="id" property="id" />
        <result column="appID" property="appID" />
        <result column="apiKey" property="apiKey" />
        <result column="secretKey" property="secretKey" />
    </resultMap>

    <select id="selectFacekeyInf" resultMap="BaseResultMap">
        select id,appID,apiKey,secretKey from facekey_inf
    </select>

    <insert id="addFacekeyInf" >
        insert into facekey_inf(appID,apiKey,secretKey )
        values (#{facekey.appID}, #{facekey.apiKey},#{facekey.secretKey})
    </insert>

    <delete id="deleteFacekeyInf">
        delete from facekey_inf where id = #{id}
    </delete>

    <update id="updateFacekeyInf">
        update facekey_inf
        set appID =#{facekey.appID},
            apiKey = #{facekey.apiKey},
            secretKey=#{facekey.secretKey}
        where id = #{facekey.id}
    </update>

</mapper>
