<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.dao.jobInfMapper.JobInfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hao.entity.JobInf">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <select id="selectJoblnf" resultMap="BaseResultMap">
        select id,name,remark from job_inf
        <where>
            <if test="name !=null">name = #{name}</if>
        </where>
    </select>

    <insert id="addJobInf" >
        insert into job_inf(NAME, REMARK)
        values (#{job.name}, #{job.remark})
    </insert>

    <delete id="deleteJobInf">
        delete from job_inf where id = #{id}
    </delete>

    <update id="updateJobInf">
        update job_inf
        set NAME = #{job.name},
            REMARK = #{job.remark}
        where ID = #{job.id}
    </update>

    <select id="getCount" resultType="Integer">
        select count(id) from job_inf
        <where>
            <if test="name != null">name = #{name}</if>
        </where>
    </select>

</mapper>

