<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.dao.noticeInfMapper.NoticeInfMapper">
<!--create by zhanzhenchang-->


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hao.entity.NoticeInf">
        <id column="ID" property="id" />
        <result column="TITLE" property="title" />
        <result column="CONTENT" property="content" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="USER_ID" property="userId" />

        <association property="userInf" select="getUser" column="USER_ID"></association>
    </resultMap>

        <select id="getUser" resultType="com.hao.entity.UserInf">
            select *  from user_inf where id = #{id}
        </select>

        <!--添加新的公告-->
        <insert id="addNotice" parameterType="com.hao.entity.NoticeInf">
            insert into ssm.notice_inf(TITLE,CONTENT,USER_ID)
            values (#{notice.title},#{notice.content},#{notice.userId})
        </insert>

        <!--修改新的公告-->
        <insert id="updateNotice">
            update notice_inf
            set TITLE=#{notice.title},CONTENT=#{notice.content}
            where ID=#{notice.id}
        </insert>

        <!--删除公告-->
        <delete id="deleteNotice" parameterType="int">
            delete from notice_inf
            where id=#{id}
        </delete>

        <!--查询公告-->
        <select id="selectNoticeById" parameterType="int" resultType="com.hao.entity.NoticeInf">
            select *
            from notice_inf n
            where n.id=#{id}
        </select>

        <!--查询所有公告-->
        <select id="selectAllNotice"  resultMap="BaseResultMap">
            select *
            from notice_inf n,user_inf u
            where n.USER_ID=u.ID
        </select>

        <!--通过模糊搜索标题查询公告-->
    <select id="searchNoticeByName" resultMap="BaseResultMap">
        select * from notice_inf
        <where>
            <if test="title !=null">title = #{title} And</if>
            <if test="content != null">content = #{content}</if>
        </where>
    </select>


    <select id="getCount" resultType="Integer">
        select count(id) from notice_inf
        <where>
            <if test="title!=null">title = #{title} And</if>
            <if test="content!=null">title = #{content}</if>
        </where>
    </select>

</mapper>
