<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.dao.documentInfMapper.DocumentInfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hao.entity.DocumentInf">
        <id column="ID" property="id" />
        <result column="TITLE" property="title" />
        <result column="filename" property="filename" />
        <result column="REMARK" property="remark" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="USER_ID" property="userId" />

        <association property="userInf" select="getUser" column="USER_ID"></association>
    </resultMap>

    <select id="getUser" resultType="com.hao.entity.UserInf">
        select *  from   user_inf where id = #{id}
    </select>



    <insert id="addDocInf">
        insert into document_inf(TITLE, filename, REMARK,USER_ID)
        values(#{doc.title},#{doc.filename},#{doc.remark},${doc.userId})
    </insert>

    <update id="updateDocInf">
        update document_inf
        <set>
            <if test="doc.title!=null">title=#{doc.title},</if>
            <if test="doc.filename!=null">filename=#{doc.filename},</if>
            <if test="doc.remark!=null">REMARK=#{doc.remark},</if>
            <if test="doc.userId!=null">USER_ID=#{doc.userId}</if>
        </set>
        where id = #{doc.id}
     </update>

    <delete id="deleteDocInf">
        delete  from document_inf
        where ID = #{id}
     </delete>

<!--    查询所有文件信息分页展示-->
     <select id="selectAllDocInf" resultMap="BaseResultMap">
        select ID, TITLE,filename,REMARK,CREATE_DATE,USER_ID
        from document_inf
     </select>

<!--     根据标题查询文件信息-->
     <select id="selectDocInfByTitle" resultMap="BaseResultMap">
        select ID, TITLE,filename,REMARK,CREATE_DATE,USER_ID
        from document_inf
        <where>
            <if test="title != null">title = #{title}</if>
        </where>
     </select>


    <select id="getCount" resultType="Integer">
        select count(id) from document_inf
        <where>
            <if test="title != null">title = #{title}</if>
        </where>
    </select>
</mapper>
